package index

import (
    "github.com/harrisbisset/manager/views/layout"
    "github.com/harrisbisset/manager/views/usta"
)

templ Index() {
    @layout.Base() {
        <main>
            @usta.Timetable()
        </main>
    }
}